<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="PizzaFactory6 Express">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="1.0.0.201002161416"/>
<unit id="org.eclipse.cdt.gnu.build.feature.group" version="6.0.0.201002161416"/>
<unit id="org.eclipse.cdt.gnu.debug.feature.group" version="6.0.0.201002161416"/>
<unit id="org.eclipse.cdt.util.feature.group" version="5.1.0.201002161416"/>
<unit id="jp.pizzafactory.product.resources.coredev.feature.group" version="6.0.0.201012091631"/>
<unit id="org.eclipse.cdt.platform.feature.group" version="6.0.2.201002161416"/>
<unit id="org.eclipse.cdt.feature.group" version="6.0.2.201002161416"/>
<unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="2.0.0.201002161416"/>
<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="5.1.0.201002161416"/>
<unit id="org.eclipse.cdt.debug.ui.memory.feature.group" version="1.2.0.201002161416"/>
<unit id="org.eclipse.cdt.p2.feature.group" version="1.0.0.201002161416"/>
<unit id="org.eclipse.cvs.feature.group" version="1.1.101.R35x_v20100125-7E79FGD9kKF67BPDZ7PKCE1911"/>
<unit id="org.eclipse.help.feature.group" version="1.1.2.R35x_v20100119-7e7eFAnFEx2X_fZltJhDjz-D"/>
<unit id="org.eclipse.jdt.feature.group" version="3.5.2.r352_v20100108-7r88FEwFI0WTuoBl0iaG0tyhfZH6"/>
<unit id="org.eclipse.platform.feature.group" version="3.5.2.R35x_v20100210-0800-9hEiFzmFst-TiEn9hNYgDWg1XN8ulH_JvCNGB"/>
<unit id="org.eclipse.equinox.executable" version="3.3.201.R35x_v20091211-7M-FngFELSU3Pqlv3JdZn"/>
<unit id="org.eclipse.rcp.feature.group" version="3.5.2.R35x_v20100119-9SA0FxwFnoCU5XxWItFdXXb27BA6"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="1.1.2.R35x_v20091106-7u6FbQFUAtsCKD5Fxz0qz0fb2932"/>
<unit id="com.sun.jna.feature.group" version="3.2.7"/>
<unit id="jp.pizzafactory.product.patch.feature.group" version="6.0.0.201012122254"/>
<unit id="org.eclipse.cdt.mylyn.feature.group" version="5.1.0.201002161416"/>
<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.2.3.v20100217-0100-e3x"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.2.3.v20100217-0100-e3x"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.2.3.v20100217-0100-e3x"/>
<unit id="jp.pizzafactory.patch.org.eclipse.equinox.p2.user.ui.feature.group" version="1.1.2.R35x_1-v20091106-7u6FbQFUAtsCKD5Fxz0qz0fb2932"/>
<unit id="gnu.io.rxtx.feature.group" version="2.1.7.4_v20071016-7B57e7UAXMAAqGAGf"/>
<unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
<unit id="org.eclipse.team.svn.mylyn.feature.group" version="0.7.8.I20091023-1300"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.7.8.I20091023-1300"/>
<unit id="org.eclipse.team.svn.nl1.feature.group" version="0.7.8.I20091023-1300"/>
<unit id="jp.pizzafactory.com.sun.jre.feature.group" version="6.0.0.0"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.3.4.6888"/>
<unit id="org.eclipse.tm.terminal.sdk.feature.group" version="3.0.2.R31x_v200911051655-7N-FBcBbPtZLuz-SHv_pcfLSKR22"/>
<unit id="org.eclipse.tm.terminal.serial.feature.group" version="2.0.100.v200905272300-3-8Z7w311A16383411"/>
<unit id="org.eclipse.tm.terminal.ssh.feature.group" version="2.0.100.v200905272300-3-8Z7w311A16383411"/>
<unit id="org.eclipse.tm.terminal.telnet.feature.group" version="2.0.101.v200907301400-3-8_7w311A1A271116"/>
<unit id="org.eclipse.tm.terminal.view.feature.group" version="2.0.101.v200907301400-3-8_7w311A18412511"/>
<unit id="org.eclipse.tm.terminal.feature.group" version="3.0.2.R31x_v200911051655-4-17S42yaw312113271141"/>
<repository location="http://pizzafactory.sourceforge.net/coredev/6"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
